.MainNav {

  a {
    background: rgba(255,255,255,0.1);

    &:hover,
    &:focus {
      border-color: rgba(237 37 78 / 0.5);
      background-color: rgba(237 37 78 / 0.2);
      outline: none;
    }
    &:active {
      border-color: var(--color-red-crayola);
      background-color: rgba(237, 37, 78, 0.5647058824);
    }
  }
}